:root {
    $star-size: 30px;
    $star-color: #fff;
    $star-background: #fc0;
    $rating: 2,5;
    $percent: calc($rating / 5 * 100%);
  }

  .stars {
    display: inline-block;
    font-size: $star-size;
    font-family: Times; // make sure ★ appears correctly
    line-height: 1;

  &::before {
      content: "★★★★★";
      letter-spacing: 3px;
      background: linear-gradient(90deg, $star-background $percent, $star-color $percent);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }

}

