@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'sidebar.css';

@import './nav.css';
@import './contact.css';
@import './jumbotron.css';
@import './footer.css';
@import './scroll-to-top.css';
@import './multiple-slider3.css';
@import './filter-div.css';
@import './projects.css';


/* h1, h2, h3, h4, h5, h6 {
    font-size: initial!important;
    font-weight: initial!important;
} */

hr {
    border-top: 1px solid rgb(255, 255, 255);
}

.active a, .mark-color {
    /* color: #FA944B!important; */
    font-weight: 600;
}

/* Messages Table */
td {
    padding-right: 0 !important;
}

/* Messages Truncate */
.truncate-content {
    position: relative;
}
.truncate-text {
    position: absolute;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Messages Checkbox */
input[type=checkbox] {
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
}

/* Messages Links */
.table-row{
    cursor:pointer;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: #fed136;
  }

/* .btn-paradox {
    background: #16222A;
    background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
    background: linear-gradient(59deg, #3A6073, #16222A);
    color: white;
} */


.btn-paradox {
    background: #fed136;
    border-color: #000000;
    color: black;
}

/* .btn-paradox:hover {
    background: #FA944B;
    border-color: #683b1c;
} */

.btn-paradox:hover {
    background: #000000;
    border-color: #ffffff;
    color: white;
}

::selection {
    background: #fed136;
    text-shadow: none;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    box-shadow: inset 0 0 5px grey;
}
  ::-webkit-scrollbar-thumb {
    background: #000000;
}
  ::-webkit-scrollbar-thumb:hover {
    background: #fed136;
}

/* Scrollbar Buttons */
::-webkit-scrollbar-button:single-button {
    background-color: #f1f1f1;
    display: block;
    border-style: solid;
    height: 13px;
    width: 16px;
  }
  /* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent #000000 transparent;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    border-color: transparent transparent #fed136 transparent;
}
  /* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
    border-width: 5px 5px 0 5px;
    border-color: #000000 transparent transparent transparent;
}

::-webkit-scrollbar-button:vertical:single-button:increment:hover {
    border-color: #fed136 transparent transparent transparent;
}
