#mapid { height: 400px; width: 100%; }

.text-paradox {
    width: 100%;
    height: 100%;
    background: #000000;
    background: -webkit-linear-gradient(59deg, #16222A, #000000);
    background: linear-gradient(59deg, #16222A, #000000);
    background-repeat: no-repeat;
    background-position: 100% 45%;
    background-size: 100%;
    color: white;
}
.text-paradox-2 {
    width: 100%;
    height: 100%;
    background: #396a8c;
    background-repeat: repeat;
    color: white;
}

.text-paradox-3 {
    width: 100%;
    height: 100%;
    background: #000000;
    background: -webkit-linear-gradient(59deg, #16222A, #000000);
    background: linear-gradient(59deg, #16222A, #000000);
    background-repeat: repeat;
    background-position: 100% 45%;
    background-size: 100%;
    color: white;
    opacity: 0.5;
}
