.filterDiv {
    float: left;
    background-color: #2196F3;
    color: #ffffff;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    margin: 2px;
    display: none;
  }

  .show {
    display: block;
  }

  .container-a {
    margin-top: 20px;
    overflow: hidden;
    text-align: center;
  }

  /* Style the buttons */
  .btn-f {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }

  .btn-f:hover {
    background-color: #ddd;
  }

  .btn-f.active {
    background-color: #666;
    color: white;
  }
