.jumbotron {
    width: 100%;
    background-color:#fed136;
    /* background-image:
    linear-gradient(to right, #FA944B , #fa944b00),
    url("../images/pages/programmer.jpg"); */
    background-repeat: no-repeat;
    background-position: 100% 45%;
    background-size: 50%;
    color: white;
    margin-bottom: 0!important;
}

.breadcrumb-item, .nav-link {
    color: white;
}

.breadcrumb-item a {
    color: rgb(190, 190, 190);
}

.breadcrumb-item a:hover {
    color: #fed136;
}

.breadcrumb-item.active{
    font-weight: 500;
    color: white;
}

.breadcrumb-item.active a{
    border-bottom: 2px solid #fed136;
}
