.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
  transform: translateX(25%);
}

.carousel-inner .carousel-item-left.active,
.carousel-inner .carousel-item-prev {
  transform: translateX(-25%);
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{
  transform: translateX(0);

}

.carousel-control-prev-icon, .carousel-control-next-icon {
    opacity: 1;
}

.carousel-control-prev:hover, .carousel-control-next:hover {
    color: #fed136;
}

#btnToTop {
    position: fixed;
    right: 15px;
    bottom: 15px;
    display: none;
    width: 50px;
    height: 50px;
    text-align: center;
    color: white;
    background: rgba(52, 58, 64, 0.5);
    line-height: 45px;
}

#btnToTop:focus, #btnToTop:hover {
    color: white;
    background: #fed136;
}

#btnToTop i {
    font-weight: 800;
}
