/* navbar */
.nav-style, .breadcrumb {
    /* background: #16222A;
    background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
    background: linear-gradient(59deg, #3A6073, #16222A);
    color: white; */
    background: #000000;
    background: -webkit-linear-gradient(59deg, #16222A, #000000);
    background: linear-gradient(59deg, #16222A, #000000);
    color: white;
}

.nav-tabs {
    background: #16222A;
    background: -webkit-linear-gradient(59deg, #5893b1, #16222A);
    background: linear-gradient(59deg, #5893b1, #16222A);
}

.nav-item.active {
    border-bottom: 2px solid #fed136;
}

