#btnToTop {
    position: fixed;
    right: 15px;
    bottom: 15px;
    display: none;
    width: 50px;
    height: 50px;
    text-align: center;
    color: white;
    background: rgba(52, 58, 64, 0.5);
    line-height: 45px;
}

#btnToTop:focus, #btnToTop:hover {
    color: white;
    background: #fed136;
}

#btnToTop i {
    font-weight: 800;
}
