<!-- Modal Avís Legal -->
<div class="portfolio-modal modal fade" id="avisLegal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">Avís legal</h2>
                            <p><span class="span-politica">Concertea S.L</span>, proveït amb NIF/CIF
                                <span class="span-politica">00000000-A</span>,
                                adreça <span class="span-politica">C\Direcció 00 0º, 17600 Figueres (Girona)</span>, no
                                pot assumir
                                cap responsabilitat derivada de l'ús incorrecte, inapropiat o il·lícit de la informació
                                apareguda a la pàgina d'Internet de
                                <span class="span-politica">Concertea.com</span>
                            </p>
                            <p>Els continguts i informació no vinculen a <span
                                    class="span-politica">Concertea.com</span> ni
                                constitueixen opinions, consells o assessorament legal de cap tipus ja que es tracta
                                merament d'un servei ofert amb caràcter informatiu i
                                divulgatiu.</p>
                            <p>La pàgina d'Internet de <span class="span-politica">Concertea.com</span> pot contenir
                                enllaços (links) a
                                altres pàgines de terceres parts que <span class="span-politica">Concertea.com</span> no
                                pot controlar. Per tant,
                                <span class="span-politica">Concertea.com</span> no pot assumir responsabilitats pel
                                contingut que pugui aparèixer en pàgines de tercers.
                            </p>
                            <p>Els textos, imatges, sons, animacions, programari i la resta de continguts inclosos en
                                aquest website
                                són propietat exclusiva de <span class="span-politica">Concertea.com</span> o els seus
                                llicenciants. Qualsevol acte
                                de transmissió, distribució, cessió, reproducció, emmagatzematge o comunicació pública
                                total o parcial, ha de comptar amb el
                                consentiment exprés de <span class="span-politica">Concertea.com</span></p>
                            <p>Així mateix, per accedir a alguns dels serveis que <span
                                    class="span-politica">Concertea.com</span>
                                ofereix a través del website haurà de proporcionar algunes dades de caràcter personal.
                                En compliment del que estableix el Reglament
                                (UE) 2016/679 del Parlament Europeu i del Consell, de 27 d'abril de 2016, relatiu a la
                                protecció de les
                                persones físiques pel que fa al tractament de dades personals ia la lliure circulació
                                d'aquestes dades l'informem que,
                                mitjançant la complementació dels presents formularis, les seves dades personals
                                quedaran incorporades i seran
                                tractades als fitxers de <span class="span-politica">Concertea.com</span> per tal de
                                poder-li prestar i oferir els nostres serveis així
                                com per informar de les millores del lloc Web. Així mateix, l'informem de la
                                possibilitat d'exercir els drets d'accés, rectificació,
                                cancel·lació i oposició de les seves dades de caràcter personal, manera gratuïta
                                mitjançant correu electrònic a
                                <span class="span-politica">webmaster@concertea.com</span> o a l'adreça <span
                                    class="span-politica">C\Direcció 00 0º, 17600 Figueres (Girona)</span>
                            </p>
                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fas fa-times"></i>
                                Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
