<div class="portfolio-modal modal fade" id="politicaPrivacitat" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">POLÍTICA DE PRIVACIDAD</h2>
                <p>
Protección de datos de carácter personal según la LOPD
_____________________________, en aplicación de la normativa vigente en materia de protección de datos de carácter
personal, informa que los datos personales que se recogen a través de los formularios del Sitio web:
________________________________, se incluyen en los ficheros automatizados específicos de usuarios de los servicios
de _______________________________
La recogida y tratamiento automatizado de los datos de carácter personal tiene como finalidad el mantenimiento de la
relación comercial y el desempeño de tareas de información, formación, asesoramiento y otras actividades propias de
______________________________________
Estos datos únicamente serán cedidos a aquellas entidades que sean necesarias con el único objetivo de dar
cumplimiento a la finalidad anteriormente expuesta.
_______________________________________ adopta las medidas necesarias para garantizar la seguridad, integridad y
confidencialidad de los datos conforme a lo dispuesto en el Reglamento (UE) 2016/679 del Parlamento Europeo y del
Consejo, de 27 de abril de 2016, relativo a la protección de las personas físicas en lo que respecta al tratamiento de datos
personales y a la libre circulación de los mismos.
El usuario podrá en cualquier momento ejercitar los derechos de acceso, oposición, rectificación y cancelación
reconocidos en el citado Reglamento (UE). El ejercicio de estos derechos puede realizarlo el propio usuario a través de
email a: _________________________________ o en la dirección: ________________________________________
El usuario manifiesta que todos los datos facilitados por él son ciertos y correctos, y se compromete a mantenerlos
actualizados, comunicando los cambios a _________________________________________
Finalidad del tratamiento de los datos personales:
¿Con qué finalidad trataremos tus datos personales?
En __________________________________, trataremos tus datos personales recabados a través del Sitio Web:
______________________________, con las siguientes finalidades:
1. En caso de contratación de los bienes y servicios ofertados a través de ____________________________, para
mantener la relación contractual, así como la gestión, administración, información, prestación y mejora del
servicio.
2. Envío de información solicitada a través de los formularios dispuestos en ____________________________
3. Remitir boletines (newsletters), así como comunicaciones comerciales de promociones y/o publicidad de
______________________________ y del sector.
Te recordamos que puedes oponerte al envío de comunicaciones comerciales por cualquier vía y en cualquier momento,
remitiendo un correo electrónico a la dirección indicada anteriormente.
Los campos de dichos registros son de cumplimentación obligatoria, siendo imposible realizar las finalidades expresadas si
no se aportan esos datos. 
¿Por cuánto tiempo se conservan los datos personales recabados?
Los datos personales proporcionados se conservarán mientras se mantenga la relación comercial o no solicites su
supresión y durante el plazo por el cuál pudieran derivarse responsabilidades legales por los servicios prestados.
Legitimación:
El tratamiento de tus datos se realiza con las siguientes bases jurídicas que legitiman el mismo:
1. La solicitud de información y/o la contratación de los servicios de ___________________________, cuyos
términos y condiciones se pondrán a tu disposición en todo caso, de forma previa a una eventual contratación.
2. El consentimiento libre, específico, informado e inequívoco, en tanto que te informamos poniendo a tu
disposición la presente política de privacidad, que tras la lectura de la misma, en caso de estar conforme, puedes
aceptar mediante una declaración o una clara acción afirmativa, como el marcado de una casilla dispuesta al
efecto.
En caso de que no nos facilites tus datos o lo hagas de forma errónea o incompleta, no podremos atender tu solicitud,
resultando del todo imposible proporcionarte la información solicitada o llevar a cabo la contratación de los servicios.
Destinatarios:
Los datos no se comunicarán a ningún tercero ajeno a _________________________________, salvo obligación legal.
Como encargados de tratamiento, tenemos contratados a los siguientes proveedores de servicios, habiéndose
comprometido al cumplimiento de las disposiciones normativas, de aplicación en materia de protección de datos, en el
momento de su contratación:
 (ENCARGADO) ______________________________________________________, con domicilio en
___________________________________________, NIF/CIF nº ________________________, presta servicios de
________________________________________ .
 Puede consultar la política de privacidad y demás aspectos legales de la compañía en el siguiente
enlace: ____________________________________________
 (ENCARGADO) ____________________________________________, con domicilio en
____________________________________________, NIF/CIF nº _________________________, presta servicios de
___________________________________________ .
 Puede consultar la política de privacidad y demás aspectos legales de la compañía en el siguiente
enlace: ______________________________________________ 
Datos recopilados por usuarios de los servicios
En los casos en que el usuario incluya ficheros con datos de carácter personal en los servidores de alojamiento
compartido, _______________________________________ no se hace responsable del incumplimiento por parte del
usuario del RGPD.
Retención de datos en conformidad a la LSSI
______________________________________ informa de que, como prestador de servicio de alojamiento de datos y en
virtud de lo establecido en la Ley 34/2002 de 11 de julio de Servicios de la Sociedad de la Información y de Comercio
Electrónico (LSSI), retiene por un periodo máximo de 12 meses la información imprescindible para identificar el origen de
los datos alojados y el momento en que se inició la prestación del servicio. La retención de estos datos no afecta al
secreto de las comunicaciones y sólo podrán ser utilizados en el marco de una investigación criminal o para la
salvaguardia de la seguridad pública, poniéndose a disposición de los jueces y/o tribunales o del Ministerio que así los
requiera.
La comunicación de datos a las Fuerzas y Cuerpos del Estado se hará en virtud a lo dispuesto en la normativa sobre
protección de datos personales.
Derechos propiedad intelectual ______________________________
_________________________________ es titular de todos los derechos de autor, propiedad intelectual, industrial,
"know how" y cuantos otros derechos guardan relación con los contenidos del sitio web _______________________ y los
servicios ofertados en el mismo, así como de los programas necesarios para su implementación y la información
relacionada.
No se permite la reproducción, publicación y/o uso no estrictamente privado de los
• La utilización que resulte contraria a las leyes españolas o que infrinja los derechos de terceros.
• La publicación o la transmisión de cualquier contenido que, a juicio de ________________________, resulte
violento, obsceno, abusivo, ilegal, racial, xenófobo o difamatorio.
• Los cracks, números de serie de programas o cualquier otro contenido que vulnere derechos de la propiedad
intelectual de terceros.
• La recogida y/o utilización de datos personales de otros usuarios sin su consentimiento expreso o contraviniendo
lo dispuesto en Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo, de 27 de abril de 2016,
relativo a la protección de las personas físicas en lo que respecta al tratamiento de datos personales y a la libre
circulación de los mismos.
• La utilización del servidor de correo del dominio y de las direcciones de correo electrónico para el envío de
correo masivo no deseado.
El usuario tiene toda la responsabilidad sobre el contenido de su web, la información transmitida y almacenada, los
enlaces de hipertexto, las reivindicaciones de terceros y las acciones legales en referencia a propiedad intelectual,
derechos de terceros y protección de menores.
El usuario es responsable respecto a las leyes y reglamentos en vigor y las reglas que tienen que ver con el
funcionamiento del servicio online, comercio electrónico, derechos de autor, mantenimiento del orden público, así como
principios universales de uso de Internet.
El usuario indemnizará a ___________________ por los gastos que generara la imputación de
______________________________ en alguna causa cuya responsabilidad fuera atribuible al usuario, incluidos
honorarios y gastos de defensa jurídica, incluso en el caso de una decisión judicial no definitiva.
Protección de la información alojada
______________________________ realiza copias de seguridad de los contenidos alojados en sus servidores, sin
embargo no se responsabiliza de la pérdida o el borrado accidental de los datos por parte de los usuarios. De igual
manera, no garantiza la reposición total de los datos borrados por los usuarios, ya que los citados datos podrían haber
sido suprimidos y/o modificados durante el periodo del tiempo transcurrido desde la última copia de seguridad.
Los servicios ofertados, excepto los servicios específicos de backup, no incluyen la reposición de los contenidos
conservados en las copias de seguridad realizadas por ______________________________, cuando esta pérdida sea
imputable al usuario; en este caso, se determinará una tarifa acorde a la complejidad y volumen de la recuperación,
siempre previa aceptación del usuario.
La reposición de datos borrados sólo está incluida en el precio del servicio cuando la pérdida del contenido sea debida a
causas atribuibles a ________________________________
Comunicaciones comerciales
En aplicación de la LSSI. _______________________________ no enviará comunicaciones publicitarias o promocionales
por correo electrónico u otro medio de comunicación electrónica equivalente que previamente no hubieran sido
solicitadas o expresamente autorizadas por los destinatarios de las mismas. 
En el caso de usuarios con los que exista una relación contractual previa, ______________________________ sí está
autorizado al envío de comunicaciones comerciales referentes a productos o servicios de
____________________________ que sean similares a los que inicialmente fueron objeto de contratación con el cliente.
En todo caso, el usuario, tras acreditar su identidad, podrá solicitar que no se le haga llegar más información comercial a
través de los canales de Atención al Cliente. 
                </p>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>