<div class="portfolio-modal modal fade" id="politicaCookies" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">Política de cookies</h2>
                            <p><span class="span-politica">Concertea S.L</span> informa sobre l'ús de les cookies a la
                                seva
                                pàgina web: <span class="span-politica">Concertea.com</span></p>
                            <h3>Què són les cookies?</h3>
                            <p>Les cookies són arxius que es poden descarregar en el seu equip a través de les pàgines
                                web.
                                Són eines que tenen un paper
                                essencial per a la prestació de nombrosos serveis de la societat de la informació. Entre
                                d'altres, permeten a una pàgina web
                                emmagatzemar i recuperar informació sobre els hàbits de navegació d'un usuari o del seu
                                equip i, depenent de la informació
                                obtinguda, es poden utilitzar per reconèixer a l'usuari i millorar el servei ofert.</p>

                            <h3>Tipus de cookies</h3>
                            <p>Segons qui sigui l'entitat que gestioni el domini des d'on s'envien les cookies i tracti
                                les dades que s'obtinguin es poden distingir dos tipus:</p>
                                <ul class="list-inline">
                                    <li>• Cookies pròpies: aquelles que s'envien a l'equip terminal de l'usuari des d'un equip o
                                            domini gestionat pel mateix editor i des del qual es presta el servei sol·licitat per l'usuari.</li>
                                    <li>• Cookies de tercers: aquelles que s'envien a l'equip terminal de l'usuari des d'un equip
                                            o domini que no és gestionat per l'editor, sinó per una altra entitat que tracta les dades 
                                            obtingudes mitjançant les cookies.</li>
                                </ul>

                            <p>En el cas que les cookies siguin instal·lades des d'un equip o domini gestionat pel propi
                                editor però la informació que es reculli mitjançant aquestes sigui gestionada per un tercer, 
                                no poden ser considerades com cookies pròpies.</p>

                            <p>Existeix també una segona classificació segons el termini de temps que romanen emmagatzemades
                                al navegador del client, podent tractar-se de:</p>
                                <ul class="list-inline">
                                    <li>• Cookies de sessió: dissenyades per a recaptar i emmagatzemar dades mentre l'usuari
                                            accedeix a una pàgina web. es solen emprar per emmagatzemar informació que només interessa 
                                            conservar per a la prestació del servei sol·licitat per l'usuari en una sola ocasió 
                                            (p.e. una llista de productes adquirits).</li>
                                    <li>• Cookies persistents: les dades segueixen emmagatzemats en el terminal i poden ser
                                            accedits i tractats durant un període definit pel responsable de la galeta, i que pot anar 
                                            d'uns minuts a diversos anys.</li>
                                </ul>

                            <p>Finalment, hi ha una altra classificació amb cinc tipus de cookies segons la finalitat
                                per a la qual es tractin les dades obtingudes:</p>
                                <ul class="list-inline">
                                    <li>• Cookies tècniques: aquelles que permeten a l'usuari la navegació a través d'una pàgina
                                            web, plataforma o aplicació i la utilització de les diferents opcions o serveis que en ella
                                            hi hagi com, per exemple, controlar el trànsit i la comunicació de dades, identificar la sessió, accedir
                                            a parts d'accés restringit, recordar els elements que integren una comanda, realitzar el procés de
                                            compra d'una comanda, realitzar la sol·licitud d'inscripció o participació en un esdeveniment, 
                                            utilitzar elements de seguretat durant la navegació, emmagatzemar continguts per a la difusió 
                                            de vídeos o so o compartir continguts a través de xarxes socials.</li>
                                    <li>• Cookies de personalització: permeten a l'usuari accedir al servei amb algunes característiques de caràcter
                                            general predefinides en funció d'una sèrie de criteris en el terminal de l'usuari com ara
                                            serien el idioma, el tipus de navegador mitjançant el qual accedeix al servei, la configuració
                                            regional des d'on s'accedeix al servei, etc.</li>
                                    <li>• Cookies d'anàlisi: permeten al responsable de les mateixes, el seguiment i anàlisi del
                                            comportament dels usuaris dels llocs web als que estan vinculades. La informació recollida mitjançant
                                            aquest tipus de cookies s'utilitza en el mesurament de l'activitat dels llocs web, aplicació o 
                                            plataforma i per a l'elaboració de perfils de navegació dels usuaris d'aquests llocs, aplicacions 
                                            i plataformes, per tal d'introduir millores en funció de l'anàlisi de les dades d'ús que fan 
                                            els usuaris del servei.</li>
                                    <li>• Cookies publicitàries: permeten la gestió, de la forma més eficaç possible, dels espais
                                            publicitaris.</li>
                                    <li>• Cookies de publicitat comportamental: emmagatzemen informació del comportament dels usuaris
                                            obtinguda a través de l'observació continuada dels seus hàbits de navegació, el que permet
                                            desenvolupar un perfil específic per mostrar publicitat en funció del mateix.</li>
                                    <li>• Cookies de xarxes socials externes: s'utilitzen perquè els visitants puguin interactuar
                                            amb el contingut de diferents plataformes socials (facebook, youtube, twitter, linkedIn, etc ..) i que es
                                            generin únicament per els usuaris d'aquestes xarxes socials. Les condicions d'utilització d'aquestes cookies i
                                            la informació recopilada es regula per la política de privacitat de la plataforma social corresponent.</li>
                                </ul>

                            <h3>Desactivació i eliminació de cookies</h3>
                            <p>Tens l'opció de permetre, bloquejar o eliminar les cookies instal·lades en el teu equip mitjançant la 
                                configuració de les opcions del navegador en el vostre equip. En desactivar cookies, alguns dels 
                                serveis disponibles podrien deixar d'estar operatius. la forma de desactivar les cookies és diferent 
                                per a cada navegador, però normalment es pot fer des del menú Eines o Opcions. També es pot consultar 
                                el menú d'Ajuda del navegador on pots trobar instruccions. L'usuari podrà en qualsevol moment triar 
                                quines cookies vol que funcionin en aquest lloc web.</p>

                            <p>Pot vostè permetre, bloquejar o eliminar les cookies instal·lades en el seu equip mitjançant
                                la configuració de les opcions del navegador instal·lat al seu ordinador:</p>
                            <ul class="list-inline">
                                <li>• Microsoft Internet Explorer o Microsoft Edge:
                                        http://windows.microsoft.com/es-es/windows-vista/Block-or-allow-cookies</li>
                                <li>• Mozilla Firefox:
                                        http://support.mozilla.org/es/kb/impedir-que-los-sitios-web-guarden-sus-preferencia</li>
                                <li>• Chrome: https://support.google.com/accounts/answer/61416?hl=es</li>
                                <li>• Safari: http://safari.helpmax.net/es/privacidad-y-seguridad/como-gestionar-las-cookies/</li>
                                <li>• Opera: http://help.opera.com/Linux/10.60/es-ES/cookies.html</li>
                            </ul>

                            <p>A més, també pot gestionar el magatzem de cookies al seu navegador a través d'eines com
                                les següents:</p>
                            <ul class="list-inline">
                                <li>• Ghostery: www.ghostery.com/</li>
                                <li>• Your línia choices: www.youronlinechoices.com/es/</li>
                            </ul>

                            <h3>Cookies utilitzades en www.miweb.es</h3>
                            <p>A continuació s'identifiquen les cookies que estan sent utilitzades en aquest portal així
                                com la seva tipologia i funció:</p>

                            <h3>Acceptació de la Política de cookies</h3>
                            <p>www.miweb.es assumeix que vostè accepta l'ús de cookies. No obstant això, mostra
                                informació sobre la seva Política de cookies a la part inferior o superior de qualsevol pàgina 
                                del portal amb cada inici de sessió amb l'objecte que vostè sigui conscient.</p>

                            <p>Davant d'aquesta informació és possible dur a terme les següents accions:</p>
                            <ul class="list-inline">
                                <li>• Accepta cookies. No es tornarà a visualitzar aquest avís en accedir a qualsevol pàgina
                                        del portal durant la present sessió.</li>
                                <li>• Tanca. Es oculta l'avís en la present pàgina.</li>
                                <li>• Modificar la configuració. Podrà obtenir més informació sobre què són les cookies,
                                        conèixer la Política de cookies de www.miweb.es i modificar la configuració del seu navegador.</li>
                            </ul>
                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fas fa-times"></i>
                                Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>